h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 64px;
}

body {
  background: #fff;
  font-family: "Inter", sans-serif;
}

.section {
  background-color: #141414;
  height: 1024px;
}
.vl1 {
  border-left: 2px solid #fff;
  mix-blend-mode: difference;
  height: 3284px;
  position: absolute;
  left: 11.5%;
  margin-left: -3px;
  top: 0;
}
.vl2 {
  border-left: 2px solid #fff;
  mix-blend-mode: difference;
  height: 3284px;
  position: absolute;
  left: 88.5%;
  margin-left: -3px;
  top: 0;
}

/* navmenu */
* {
  margin: 0;
  left: 0px;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  text-decoration: none;
  color: #141414;
}

.navmenu {
  position: fixed;
  top: 33%;
  transform: translateY(-50%);
  z-index: -1;
}

.navmenu ul {
  padding-left: 24px;
  position: relative;
}

.navmenu ul::after {
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% - 8px);
  left: 32px;
  top: 0;
  z-index: -1;
  background: #141414;
  margin-top: 8px;
}

.navmenu ul li {
  padding: 32px 0;
  padding-left: 24px;
}

.navmenu ul li a {
  text-decoration: none;
  color: #141414;
  position: relative;
  font-size: 10px;
  line-height: 1rem;
}

.navmenu ul li a.active {
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 8px;
  font-size: 14px;
  transition: 500ms;
  background-color: #141414;
}

.navmenu ul li a:active {
  color: #141414;
  text-decoration: none;
}

.navmenu ul li a:visited {
  mix-blend-mode: difference;
  text-decoration: none;
}
