@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 90%;
  letter-spacing: 0.16em;
  color: #141414;
  white-space: nowrap;
}

h3 {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.6em;
  color: #b81e83;
}

h4 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 156%;
}

h5 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 145%;
  letter-spacing: 0.3em;
}
body {
  background: #fff;
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
}

a {
  text-decoration: none;
  color: #141414;
}

a:visited {
  color: #141414;
}
p {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 156%;
}

img {
  width: 100%;
}
.about-img {
  /* margin-left: 45px; */
}

.about-paragraph {
  padding: 32px 0px;
}

.main-container {
  grid-column: 3 / -3;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 64px 0px 46px 0px;
}

.about-container {
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.about-name {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.work-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}

.misc-container {
  display: flex;
  gap: 24px;
}

.line {
  border-left: 2px solid #fff;
  mix-blend-mode: exclusion;
  position: fixed;
  left: 11.5%;
  height: 100vh;
}
.line-2 {
  border-right: 2px solid #fff;
  mix-blend-mode: exclusion;
  position: fixed;
  left: 88.5%;
  height: 100vh;
}

.hero {
  background-color: #141414;
  height: 1024px;
  grid-column: 1 / -1;
}

.footer {
  display: grid;
}

.column {
  max-width: 467px;
  max-height: 571px;
  left: 194px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* .vl1 {
  border-left: 2px solid #fff;
  mix-blend-mode: difference;
  height: 3284px;
  position: absolute;
  left: 11.5%;
  margin-left: -3px;
  top: 0;
}
.vl2 {
  border-left: 2px solid #fff;
  mix-blend-mode: difference;
  height: 3284px;
  position: absolute;
  left: 88.5%;
  margin-left: -3px;
  top: 0; */

/* navmenu */
* {
  margin: 0;
  left: 0px;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  text-decoration: none;
  color: #141414;
}

.navmenu {
  position: fixed;
  top: 33%;
  transform: translateY(-50%);
  z-index: 1;
  filter: invert(1);
  mix-blend-mode: exclusion;
}

.navmenu ul {
  padding-left: 24px;
  position: relative;
}

.navmenu ul::after {
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% - 8px);
  left: 32px;
  top: 0;
  z-index: -1;
  background: #141414;
  margin-top: 8px;
}

.navmenu ul li {
  padding: 32px 0;
  padding-left: 24px;
}

.navmenu ul li a {
  text-decoration: none;
  color: #141414;
  position: relative;
  font-size: 10px;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.2rem;
}

.navmenu ul li a.active {
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 8px;
  font-size: 14px;
  transition: 500ms;
  background-color: #141414;
}

.navmenu ul li a:active {
  color: #b81e83;
  text-decoration: none;
}

.navmenu ul li a:visited {
  mix-blend-mode: difference;
  text-decoration: none;
}
