@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
}

h1 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 90%;
  letter-spacing: 0.16em;
  color: #141414;
  white-space: nowrap;
}

h2 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 118%;
  letter-spacing: 0.08em;
}

h3 {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.6em;
  color: #b81e83;
}

h4 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 156%;
}

h5 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 145%;
  letter-spacing: 0.3em;
}

h6 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 11px;
  color: #fff;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  color: #141414;
}

a:visited {
  color: #141414;
}
p {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 156%;
}

img {
  width: 100%;
  height: 100%;
}

hr {
  width: 100%;
  background-color: #141414;
  height: 2px;
  border: 1px solid;
}

textarea {
  resize: none;
  padding: 8px 0px 104px;
  outline: none;
  background: transparent;
  border: 2px solid;
}

#grad1 {
  transform: scaleX(1);
  height: 100%;
  object-fit: cover;
}

#grad1:after {
  position: absolute;
  content: "";
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(20, 20, 20, 1) 100%);
}

/* CLASSES */
.intro-container {
  grid-column: 1 /-1;
  background-color: #141414;
  /* height: 307px; */
}
.intro-content {
  display: flex;
  flex-direction: column;
  filter: invert(1);
  /* margin-left: 20%;
  margin-top: 64px; */
  margin: 64px 0 64px 20%;
  width: 50%;
  gap: 16px;
}
.header {
  display: none;
}

.home-button {
  display: none;
}

.menu-mobile {
  display: none;
}

.about-paragraph {
  padding: 32px 0px;
}

.caselogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 20%;
}
.case-container {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 104px 4.5% 52px 4.5%;
  padding: 0 8.5%;
  justify-content: space-evenly;
}

.case-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 68%;
  align-self: center;
}

.logo-container {
  grid-column: 1 /-1;
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin: 52px 4.5%;
  padding: 0 8.5%;
}

.logo-roadmap {
  padding: 0 40% 0 10%;
}
.case-desc1 {
  grid-column: 1 / -1;
  padding: 0 11.5%;
  margin: 0px 113px 104px 20%;
}

.mockup-container {
  grid-column: 1 /-1;
  padding: 0 8.5%;
  margin: 52px 4.5%;
  display: flex;
  justify-content: space-evenly;
}

.mockup-container2 {
  grid-column: 1 /-1;
  padding: 0 8.5%;
  margin: 104px 0;
  /* display: flex; */
  justify-content: space-evenly;
}

.mockup-container3 {
  grid-column: 1 /-1;
  padding: 0 11.5%;

  display: flex;
  justify-content: space-evenly;
}

.mockup-image {
  left: 11.5%;
}

.main-container {
  grid-column: 3 / -3;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 64px 0px 46px 0px;
}

.about-container {
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.about-name {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.work-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}

.misc-container {
  display: flex;
  gap: 24px;
}
.image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-overlay > * {
  transform: translateY(20px);
  transition: transform 0.3s;
}

.image-overlay:hover {
  opacity: 1;
}

.image-overlay:hover > * {
  transform: translateY(0px);
}

.image-title {
  font-size: 4em;
  font-weight: 700;
}
.line {
  border-left: 2px solid #fff;
  mix-blend-mode: exclusion;
  position: fixed;
  left: 11.5%;
  height: 100vh;
  z-index: 1;
}
.line-2 {
  border-right: 2px solid #fff;
  mix-blend-mode: exclusion;
  position: fixed;
  left: 88.5%;
  height: 100vh;
  z-index: 1;
}

.hero {
  /* background-color: #141414; */
  max-height: 1024px;
  max-width: 100%;
  grid-column: 1 / -1;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 64px;
  /* align-items: center; */
  height: 664px;
  grid-column: 1 / -1;
  background-color: #141414;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  flex-direction: column;
  filter: invert(1);
}

.footer-button {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 32px;
  height: 32px;
  filter: invert(1);
}

.footer-contact {
  display: flex;
  flex-direction: row;
  gap: 64px;
  width: 100%;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.input-field {
  padding: 8px 8px;
  outline: none;
  background: transparent;
  border: 2px solid;
}

/* .input-field[type="text"]:focus {
  border: 3px solid #141414;
} */

/* .input-message {
  width: 348px;
  padding: 8px 8px 104px;
  outline: none;
  background: transparent;
} */

.column {
  max-width: 467px;
  max-height: 571px;
  left: 194px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* .vl1 {
  border-left: 2px solid #fff;
  mix-blend-mode: difference;
  height: 3284px;
  position: absolute;
  left: 11.5%;
  margin-left: -3px;
  top: 0;
}
.vl2 {
  border-left: 2px solid #fff;
  mix-blend-mode: difference;
  height: 3284px;
  position: absolute;
  left: 88.5%;
  margin-left: -3px;
  top: 0; */

/* navmenu */
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  /* left: 0px;
  padding: 0;
  box-sizing: border-box; */
}

ul {
  list-style: none;
  text-decoration: none;
  color: #141414;
}

.navmenu {
  position: fixed;
  top: 33%;
  transform: translateY(-50%);
  z-index: 1;
  filter: invert(1);
  mix-blend-mode: exclusion;
}

.navmenu ul {
  padding-left: 24px;
  position: relative;
}

.navmenu ul::after {
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% - 8px);
  left: 32px;
  top: 0;
  z-index: -1;
  background: #141414;
  margin-top: 8px;
}

.navmenu ul li {
  padding: 32px 0;
  padding-left: 24px;
}

.navmenu ul li a {
  text-decoration: none;
  color: #141414;
  position: relative;
  font-size: 10px;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.2rem;
}

.navmenu ul li a.active {
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 8px;
  font-size: 14px;
  transition: 500ms;
  background-color: #141414;
}

.navmenu ul li a:active {
  color: #141414;
  text-decoration: none;
}

.navmenu ul li a:visited {
  mix-blend-mode: difference;
  text-decoration: none;
}

@media (max-width: 1220px) {
  h1 {
    font-size: 40px;
  }
  .about-container {
    flex-direction: row;
  }

  .line {
    display: none;
  }

  .line-2 {
    display: none;
  }

  .image-overlay {
    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
  }
}

@media (max-width: 980px) {
  body {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 90%;
    letter-spacing: 0.16em;
  }

  p {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 156%;
  }
  #work {
    margin-top: 16px;
  }

  #misc {
    margin-top: 16px;
  }
  .hero {
    height: 84vh;
    object-fit: cover;
  }
  .case-desc1 {
    padding: 0;
    margin: 0px 10% 104px 10%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 40px 16px 24px;
    filter: invert(1);
  }
  .home-button {
    display: block;
    /* margin: 16px 41px; */
    min-height: 28.52px;
    min-width: 8vw;
    max-width: 8%;
  }

  .menu-mobile {
    display: block;
    min-width: 8vw;
    min-height: 24px;
    max-width: 8%;
    margin: 18px 38px;
  }
  .about-container {
    /* flex-direction: column; */
    gap: 16px;
  }

  .about-paragraph {
    padding: 16px 0px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 16px;
  }

  .work-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .misc-container {
    flex-direction: column;
    gap: 16px;
  }

  .column {
    width: 100%;
  }
  .navmenu {
    display: none;
  }

  .line {
    display: none;
  }

  .line-2 {
    display: none;
  }

  .intro-content {
    margin: 64px 5% 64px 5%;
    width: 90%;
  }

  .caselogo {
    width: 50%;
  }

  .case-container {
    flex-direction: column;
    padding: 0;
  }

  .case-text {
    margin: 0 15% 0 0;
  }

  .logo-roadmap {
    padding: 0%;
  }

  .mockup-container {
    flex-direction: column;
  }

  .mockup-container2 {
    align-self: center;
    padding: 0;
    margin: 52px 0 104px 0;
    display: flex;
  }

  .mockup-container3 {
    margin: 52px 0 0 0;
    padding: 0;
  }
}

@media (max-width: 620px) {
  .about-container {
    flex-direction: column;
  }

  .case-container {
    flex-direction: column;
  }
}
